* {
    padding: 0;
    margin: 0;
}

.header {
    color: aliceblue;
    background-color: rgb(50,50,131);
}

.headtop {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}