* {
    padding: 0;
    margin: 0;
}

.header {
    color: aliceblue;
    background-color: #1F2837;
}

.headtop {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.subtitle {
    font-size: 18px;
    color: #E5E7EB;
    padding: 5px;
}

.headbody {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    padding: 40px;
}

.hright {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.back{
    max-height: 150px;
    margin-left: 40px;
    
}

.signup {
    background-color: aqua;
    border-style: none;
    border-radius: 3px;
    padding: 9px 25px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

.signup:hover {
    background-color: rgba(104, 104, 255, 0.6);
}

.head2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    justify-content: center;
    padding-top: 15px;
}

.boxes {
    display: flex;
    color: #1F2937;
    font-size: 18px;
    justify-content: center;
    margin: 30px 50px 50px 50px;
}

.square {
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.section2 {
    text-align: center;
}

.section3 {
    background-color: #E5E7EB;
    padding: 80px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}

.init {
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    padding-top: 10px;
}

.section4 {
    /* display: flex; */
    padding: 30px;
    /* justify-content: center; */
}

.banner {
    display: flex;
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    padding: 20px 80px;
    justify-content: space-around;
}
/* 
.bleft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
} */

/* .bleft p {
    border: 2px solid red;
}

.bright {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
} */

.banner button {
    border-radius: 8px;
    padding: 5px 20px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid white;
}

.banner button:hover{
    background-color: rgba(192, 192, 255, 0.2);
}
